---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Programador web",
    company: "Versus e Learning",
    description:
      "Participo en el desarrollo de aplicaciones web, trabajando tanto en interfaz como en backend y poniendo especial cuidado en la organización del sistema, las integraciones y la mantenibilidad del código.",
    link: "https://versuselearning.com",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
